<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
<header th:replace="/fragments/header :: header"></header>
  </div>
<section class="about_section layout_padding">
  <div class="container">
    <h2>Forgot Password</h2>

    <p th:if="${error}" th:text="${error}" class="alert alert-danger"></p>
    <p th:if="${message}" th:text="${message}" class="alert alert-success"></p>

    <form th:action="@{/reset_password}" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" required />
      </div>

      <a th:href="@{/login}" class="link-secondary">Back to Login</a>
      <button type="submit" class="btn btn-primary">Reset</button>
    </form>
  </div>
</section>



<footer th:replace="/fragments/footer :: footer"></footer>

</body>

</html>